body{
    background: linear-gradient(70deg, rgb(250, 255, 238), rgb(235, 241, 219), rgb(250, 255, 238));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.titulo{
    font-family: cursive;
    font-weight: bold;
    font-size: 48px;
}
article{
    display: inline-block;
    width: 45%;
    height: 45%;
    padding: 1rem;
}
button{
    background: linear-gradient(180deg, rgb(115, 184, 5), rgb(124, 192, 16), rgb(115, 184, 5));
    border-radius: 10px;
    border-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(250, 250, 250);
    font-size: 18px;
    padding: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}